# Google Gemini API Key
# Obten tu API KEY: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=your_google_api_key_here

# Database Configuration
# Path de SQLite database file
DB_PATH=./stock-demo.db

# configuración del servidor
PORT=3000